# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:senha@localhost:3306/compJunior"
JWT_SECRET="sua_chave_secreta"
JWT_EXPIRATION_TIME="1h"
SECRET_KEY="sua_chave_secreta"
SMTP_USER="seu_email@compjunior.com.br"
SMTP_PASSWORD="sua_senha"
SMTP_CLIENT_ID="seu_client_id.apps.googleusercontent.com"
SMTP_CLIENT_SECRET="seu_client_secret"
SMTP_REFRESH_TOKEN="seu_refresh_token"
SMTP_FROM="seu_email@gmail.com.br"